body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.bg-color-orange {
    background-color: #cd3d0f;
}

.bg-color-gray{
    background-color: #d9dadc;
}

.bg-color-banner{
    background-color: #88817e;
}

.title{
    font-size: 40px;
    font-weight: 600;

}

.w-60{
    width: 60%;
}
.ps5-img{
    width: 100%;
}

.button {
    border-radius: 25px;
    padding: 0 20px;
    border: hidden;
    height: 40px;
}

.icon-search {
    width: 20px;
    height: 20px;
}

.icon-sony {
    width: 100px;
    height: 100px;
}

.row-1 {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 500px;

}

.row-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 500px;

}

.img-banner{
    width: 180px;
    height: 30px;

}

.img-banner-2{
    width: 50%;
    height: auto;

}

.colonna-banner{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    row-gap: 10px;
    margin-bottom: 40px;
}

.colonna-banner-2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    row-gap: 10px;
    margin-bottom: 40px;
    padding: 0 40px;
}
/* img:hover {
    outline: 3px solid #0d6efd;
    cursor: pointer;
} */